<!DOCTYPE html>
<html>
  <head>
    <title>Finatra</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
        <div>
          <a href="/">Finatra</a>
        </div>
<%= yield %>
  </body>
</html>